.pageList {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pageList > nav {
  box-shadow: 0 1px 12px 0px black;
  top: 0;
  width: 100%;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

.navLink {
  border: 3px solid darkslateblue;
  color: darkslateblue;
  padding: 5px;
  border-radius: 5%;
  font-weight: bold;
  background-color: white;
}

.navLink:hover {
  background-color: darkslateblue;
  color: white;
}

.pg {
  margin-top: 70px;
  background-color: white;
}

.pageHeader {
  margin-left: 10px;
  border-radius: 10px;
  margin-right: 10px;
  border: 3px solid darkslateblue;
}

.pageHeader > p {
  padding-left: 10px;
  text-align: center;
}

.titleBar {
  margin: 10px;
  color: black;
  text-align: center;
}

#QRscanner {
  text-align: center;
  overflow: hidden;
  margin: 10px;
  border: 3px solid darkslateblue;
  border-radius: 10px;
}

#supplyImage {
  margin: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 3px solid darkslateblue;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.miniButton {
  background-color: white;
  border: 3px solid darkslateblue;
  border-radius: 10px;
  color: darkslateblue;
  font-weight: bold;
  font-size: 30px;
  width: 40px;
  height: 40px;
  box-shadow: 0 3px 0 5px darkslateblue;
}

.miniButton:hover {
  cursor: pointer;
}

.miniButton:active {
  background-color: rgb(198, 208, 218);
  cursor: pointer;
}